<!DOCTYPE html>

<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style=text-align:center><%= title %></h1>
    <center>
    <p>First of all, "Hello World" and we are <kbd>#Quarantine_Coders#</kbd> and here are some details about us.</p>
    </center>
    <p>In the beginning, many people must have found it strange after seeing our name. 
        Why is a team called quarantine coder? 
        In fact, due to our current environment and the causes of the global epidemic, 
        I think this name defines how we are. Our team has six members; each one is a responsible and capable team member. 
        Our team members are Trevor Williamson, Chen Chen, Jay Ganguli, Weihao Cai, Jiaxing Li and Matthew Lees, six members. Moreover, 
        we were given the mission of web application development by our teacher Aderson, and we will achieve the mission.</p>
      
    <p>Why do we want to do this site? Strictly speaking, we are required by the teacher. 
      However, we do not just want to complete the project; we also want to make something unique and different from others and belong to us. 
      We decided to survey to collect user preferences, use these to maintain our website and even build a specific user base for future websites. 
      We believe that our website can be from simple to complex, this is a process, and we are happy to learn more in this exploration process.</p>
    
    <!--End-->
  </body>
</html>

<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>
