<!-- Header and Nav -->
<%- include partials/header.ejs %>


<%- include  partials/main_nav.ejs %>

    <div id="main-body" class="container-fluid" style="max-width: 100%; text-align: center; margin-bottom: 75px">
      <main class="container-fluid">
            <h1 class="display-4" style="text-align: center;">Simple Surveys</h1>
            <h4 class="display-8" style="text-align: center;">by Quarantine Coders</h4>
            <br>
            <br>
    
        <!-- Survey Start - Just Button for now -->
    
        <div id="main-body" class="container-fluid" style="max-width: 80%; text-align: center; margin-bottom: 75px; margin-left: 10%;">
    
          <div class="row justify-content-md-center">
              <div class="col-md-offset-3 col-md-12">
              
              <% if(typeof displayName == 'string' && displayName) { %>     

                <a href="/surveys/create" class="btn btn-outline-primary" role="button">
                  <i class="fas fa-circle"></i> Add a Survey</a>
                <br>
                <br>
              
              <% } %>

              <h2 class="text-center"> Current Surveys </h2>
              <br>


                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th class="text-center">Creator</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Expires</th>
                        <th class="text-center">Operations</th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- Template Row -->
                      <% for (let count = 0; count < surveys.length; count++) { %>
                      <tr>
                        <td><%= surveys[count].creator %></td>
                        <td><%= surveys[count].title %></td>
                        <td class="text-center"><%= surveys[count].expires %></td>



                        <td class="text-center">
                          <% if (surveys[count].head) { %>
                          <a href="/surveys/respond/<%= surveys[count].head %>" class="btn btn-outline-primary">
                            <i class="fas fa-pencil-alt"></i> Respond </a>
                            <div class="fb-share-button" data-href="https://quarantinecoders.herokuapp.com//surveys/respond/<%= surveys[count].head %>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fquarantinecoders.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                          <% } %>
                        </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>

              </div>
          </div>
          </div>
    
        <!-- Survey End -->

        <h5 style="text-align: center;">Get the answers you need, for the price you deserve!</h5>

        <h5 style="text-align: center;">Start your free surveys today! Sign up <a href="/register">here</a>.</h5>
        <h6 style="text-align: center;">Already a member? <a href="/login">Sign in</a> to create your surveys now!.</h6>
        <br>
        <br>
        <br>
    
    
        <!-- Table of Facts -->
        <table style="height: 300px; margin-left: auto; margin-right: auto;">
          <tbody>
          <tr>
          <td style="width: 300px; border: solid black">&nbsp;<img src="assets/images/nowallet.png" alt="" width="225" height="200" /></td>
          <td style="width: 300px; border: solid black">&nbsp;<img src="assets/images/data.png" alt="" width="250" height="225" /></td>
          <td style="width: 300px; border: solid black">&nbsp;<img src="assets/images/audience.png" alt="" width="300" height="175" /></td>
          </tr>
          <tr>
          <td style="width: 300px; border: solid black">
          <p style="text-align: center;"><strong>Comepletely Free</strong></p>
          <p style="text-align: center;">Put that wallet away and get the answers you need!</p>
          </td>
          <td style="width: 300px; text-align: center; border: solid black">
          <p><strong>Easy-To-Access Results</strong></p>
          <p>Always be able to check back with past surveys.</p>
          </td>
          <td style="width: 300px; border: solid black">
          <p style="text-align: center;"><strong>&nbsp;</strong><strong>Know Your Audience</strong></p>
          <p style="text-align: center;">Use your surveys to gear products and services to your customers.</p>
          </td>
          </tr>
          </tbody>
          </table>
    
    </main></div>


<!-- Bottom Nav and Footer -->
<%- include  partials/bottom_nav.ejs %>

<%- include  partials/footer.ejs %>

